---
const readmeUrl = 'https://github.com/karanbalani/shiplog#readme'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content={`0; url=${readmeUrl}`} />
    <link rel="canonical" href={readmeUrl} />
    <title>Redirecting to shiplog README</title>
  </head>
  <body>
    <p>
      Redirecting to <a href={readmeUrl}>the shiplog README</a>.
    </p>
  </body>
</html>
